a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

.wrapper {
  max-width : 960px;
  width : 100%;
  margin : 0 auto;
}

.center {
  text-align : center;
}

.right {
  text-align: right;
}
.color-white {
  color: #fff;
}