//Reset
@import "reset";

//Base 
@import "base";

//font
@import "font";

body {
  background: url('../img/background.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
}


// Todo list
.todo-list {
}

// Todo Header
.todo_list_header {
  font-family: $font-family;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 1rem 0;
}

// List Items
.todo_list_item {
    display: grid;
    background-color: #fff;
    line-height: 3rem;
    margin: 1rem 0;
    grid-template-columns: 1fr 12fr 1fr;
    align-items: center;
    font-size: 1.5rem;
    font-family: $font-family;
    border-radius: 5px;
}

//delete Button
.delete {
  color: #e40b0b;
  font-weight: 600;
  display: none;
}

.todo_list_item:hover .delete{
  display: block;
}

//CheckBox
.done {
  height: 25px;
  width: 25px; 
  cursor: pointer;
  margin-left: 15px;
}

.done.true .todo_work {
  font-weight: normal;
  color: green;
}

// Work 
.todo_work {
  padding-left: 15px;
}

.todo_block {
  padding: 1.5rem;
  width: 375px;
  margin: 0 auto;
}

//Add Task Block Section
.add_task_block {
  display: flex;
  height: 40px;
  justify-content: center;
}

.task_value {
  width: 275px;
  font-size: 1.1rem;
  padding-left: 10px;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.task_add_btn {
  width: 100px;
  font-size: 1.1rem;
  background: #b53f58;
  border: none;
  color: #fff;
  cursor: pointer;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 5px;
}

.task_add_btn:focus, .task_value:focus {
  outline: none;
}