//Reset
@import "reset";

//Base 
@import "base";

//font
@import "font";

@import url('https://fonts.googleapis.com/css?family=Pacifico|Satisfy');



body {
  background: url('../img/background.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  height: 90vh;
}


// Todo list

// Todo Header
.todo_list_header {
  font-family: $font-family;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 1rem 0;
}

// List Items
.todo_list_item {
    display: grid;
    background-color: #fff;
    line-height: 3rem;
    margin: 1rem 0;
    grid-template-columns: 1fr 12fr 1fr;
    align-items: center;
    font-size: 1.5rem;
    font-family: $font-family;
    border-radius: 5px;
}

//delete Button
.delete {
  color: #e40b0b;
  font-weight: 600;
  display: none;
}

.todo_list_item:hover .delete{
  display: block;
}

//CheckBox
.done {
  height: 25px;
  width: 25px; 
  cursor: pointer;
  margin-left: 15px;
}

.done.true .todo_work {
  font-weight: normal;
  color: green;
}

// Work 
.todo_work {
  padding-left: 15px;
  font-size: 1.2rem;
}

.todo_block {
  padding: 4rem 2rem;
  width: 325px;
  margin: 0 auto;
}

//Add Task Block Section
.add_task_block {
  display: flex;
  height: 40px;
  justify-content: center;
}

.task_value {
  width: 275px;
  font-size: 1.1rem;
  padding-left: 10px;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.task_add_btn {
  width: 100px;
  font-size: 1.1rem;
  background: #b53f58;
  border: none;
  color: #fff;
  cursor: pointer;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 5px;
}

.task_add_btn:focus, .task_value:focus {
  outline: none;
}

//Time
.time {
  display: flex;
  justify-content: center;
  font-size: 7rem;
  font-family: $font-family;
}

// Greet Block 
.greet_block {
  display: grid;
  align-content: center;
  justify-content: center;
}

//First Time Setup Block
.first_time_block {
  display: none;
}

//Greet User Block
.greet_user_block {
  display: none;
  color: #fff1f1;
  display: block;
  font-size: 3rem;
  text-align: center;
  font-family: $font-family;
}

//Quotes 
.inverted_comma_start{
  font-size: 2.2rem;
  margin: 1rem 0;
  display: inline-block;
  color: #e4bf58;
} 

.quote_block {
  margin: 2rem 0;
  display: none;
}

.quote {
  padding: 0 1.5rem;
  font-family: 'Satisfy', cursive;
}

.quote_text {
  font-size: 1.7rem;
  color: #e4bf58;
}

.quote_author {
  display: block;
  padding-left: 6rem;
  font-size: 2.2em;
  color: #fff;
  margin: 1rem 0;
  font-family: 'Pacifico', cursive;
}

footer {
  height: 10vh;
  position: absolute;
  bottom: 0;
  width : 100%;
}

.footer_link {
  color: #fff;
  font-size: 1.8rem;
  margin: 0 0.8rem; 
}

// First Time Block CSS
.first_time_block_header {
  color: #f5d19c;
  font-size: 2rem;
  margin: 1rem 0;
  font-family: $font-family;
  font-weight: 500;
}

.first_time_block input {
  display: block;
  margin: 1.5rem 0;
  line-height: 1.5rem;
  width: 100%;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-family: $font-family;
  font-weight: 500;
  &::placeholder {
    color: #fff;
    
  }
  &:focus {
    outline: none;
  }
}
